
<h1>Create a new Article</h1>
	<div class ="color-background pull-right well wll-lg center">
	  <%= form_for :article,url: articles_path do |f| %>
	  <div class="well">
	<p>
	   <%= f.label :Topic %>
	   <%= f.text_field :Topic %> 	
	</p>
	  </div>

	  <div class="well">
	<p>
	   <%= f.label :Description%>
	   <%= f.text_field :Description%>
	</p>
	  </div>

	<p>
       <%= f.submit %>
	</p>
	  
	   <% end %>
	 </div>