<% if current_user %>
<div class = "row">
  <div class = "col-md-2">
	<div class ="col">
			<div class = "row-md-2 jumbotron pull-left box-left " >



		       <%= image_tag(@doctor.avatar.url(:medium))%>
   


				<h3><em><%= @doctor.name %></em></h3>

			  
				<p>
					<%= @doctor.email %>

				</p>

				<p>
					having <%= @doctor.years_of_exp %> of experience

				</p>


			</div>
    </div>
  </div>
  <div class = "col-md-8">
		<div class =" row-md-10 pull-right ">
		    <p> <%= link_to "What's on your mind",new_post_path,class:"btn btn-success  btn-lg" %> </p>
		         
        </div>

        <div class =" row-md-8 pull-left ">
        	<% @posts.reverse.each do |post| %>
				     <div class ="jumbotron box-left color-background well well-lg right left-large">
				          <%= image_tag(post.avatar.url(:medium)) %>
				          <%= post.Description %>
				          <%= post.doctor_id %>
				          <div class ="pull-right">
				             <%= post.created_at%>
				          </div>
				      </div>
				 <% end %>

        </div>
		</div>
	</div>
</div>

<% end %>